/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}
@media (min-width: 1800px) {
    .container{
        max-width: 1400px;
        margin: auto;
    }
}
table {
    table-layout: fixed;
    font-size:1em;
}
.table tbody td,.table thead th,{
  text-align:left;
}
.table tbody tr.selected, .table tbody tr.selected:hover td{background-color:#D6EBFF;}
.topic-title th{background-color:#fff!important;}

.example-form {
  width: 300px;
}

.example-full-width {
  width: 100%;
}
.center {
    margin: auto;
    width: 100%;
}
.subtitle {
    color: rgba(0, 0, 0, 0.54);
}

/** eng add begins here **/
span.desc {
  text-align:justify;
  font-size:14px;
  color: rgba(0, 0, 0, 0.75);
}

ul.tech-support-list {
  list-style-type: none;
  padding-left: 16px;
  font-size: 16px!important;  
}

ul.tech-support-list li {
  padding-bottom:16px;
}

.mat-subheader {
   background-color: #cfd8dc;
   font-weight: bold!important;
   height: 40px!important;
   padding-top: 8px!important;
   padding-bottom: 8px!important;
   color:#333!important;
  }

.mat-list-item {
  border-bottom: 1px dotted #cfd8dc;  
}

.mat-list-item:hover {
   background-color: #f5f5f5;
}

md-content .mat-card {  
  margin-bottom: 24px;
  border-radius: 4px;
  border-color:#fff!important;
  background-color:#fff!important; 
  -moz-box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23)!important;
    -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23)!important;
      box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23)!important;
}

md-content .mat-card:first-child {  
  margin-top:24px;
}

.mat-card:last-child {
   margin-bottom: 0px;
}

.mat-card-header-text {
   margin: 0px 0px!important;
}

.mat-card-actions {
   padding-bottom: 8px!important;
}

.app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;  
  background-color: white;
  text-align: center;
}

.app-footer p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top:8px;
  margin-bottom:8px;
  font-size: 12px;
}

md-content img, 
.img.detailimg {
  padding: 4px 4px;
  background-color:#FFF;
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.18), 0px 0px 16px rgba(0, 0, 0, 0.15)!important;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.18), 0px 0px 16px rgba(0, 0, 0, 0.15)!important;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.18), 0px 0px 16px rgba(0, 0, 0, 0.15)!important;  
}

.itq-video {
  padding:8px 8px;
  -moz-box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
      box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.subject-display {
  color: #333;
  text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
  margin-top: 5px; 
} 