<!-- <div *ngIf="data.title!=''"> -->
<h1 md-dialog-title>{{ data.title }}</h1>
<div md-dialog-content oncontextmenu="return false">
  <video width="560" height="390"  autoplay controls controlsList="nodownload" *ngIf="data.mediaType==='mp4'">
      <source data-src="{{ data.videoUrl }}" type="video/mp4">
  </video>
  <embed [attr.src]="data.saveUrl" width="560" height="390" flashvars="id=hello world" wmode="transparent" *ngIf="data.mediaType!='mp4'" />
</div>
<div align="end" md-dialog-actions>
  <button color='accent' md-raised-button md-dialog-close="Option 1">Close</button>
</div>
<!-- </div> -->
<!-- <div *ngIf="data.title==''">
  <embed [attr.src]="data.saveUrl" width="560" height="390" flashvars="id=hello world" wmode="transparent" *ngIf="data.mediaType!='mp4'" />  
</div> -->
