<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<md-card class="example-card" *ngIf="!isLoading">
  <h4 class="card-header">{{itq.name}} - {{itq.description}}</h4>
  <button style="float: right" *ngIf="itq.contactus.length!=0" md-button color="accent" (click)="openContactDialog(itq.contactus)">Contact Us</button>
  <div class="card-block">
    <md-list *ngIf="!isDetails">
      <h3 md-subheader *ngIf="!itq.menutitle">Subject / Level</h3>
      <h3 md-subheader *ngIf="itq.menutitle">{{itq.menutitle}}</h3>
      <md-list-item *ngFor="let resource of itq.resources">
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line>{{resource.subject}}</h4>
        <button md-raised-button color="warn" (click)="viewSubject(resource)">SELECT</button>
        <!-- <p md-line> {{folder.updated | date}} </p> -->
      </md-list-item>
      <!-- <md-divider></md-divider>
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes">
        <md-icon md-list-icon>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line> {{note.updated | date}} </p>
      </md-list-item> -->
    </md-list>
  </div>

  <div id="detail" *ngIf="isDetails">
      <div style="width:100%;text-align:right;">
        <button *ngIf="!isSingleResource" md-raised-button  (click)="back()" color='accent' affix>BACK</button>
        <button *ngIf="isSingleResource" md-raised-button  routerLink="/itqs" color='accent' affix>BACK</button>
      </div>
      <!-- button md-raised-button color="primary" (click)="printSelected(detail)" [disabled]="!isSelected">Print</button-->
      <!-- <p></p> -->
      <div style="text-align:center">
        <h1 class="subject-display">{{detail.subject}}</h1>
        <video width="560" height="auto" autoplay controls controlsList="nodownload" *ngIf="detail.videoFile" class="itq-video">
          <source data-src="{{getDownloadURL(detail.folder, detail.videoFile)}}" type="video/mp4">
        </video>
                
        <div style="justify-content: center" fxLayout='row wrap' fxLayoutGap="15px" *ngIf="detail.images">
          <div fxFlex="{{getImgDisplayFlex(detail.images)}}" fxFlex.lt-sm="100%" *ngFor="let detailimg of detail.images">
            <img class="img detailimg" src="{{detailimg}}" alt="Detail Images"/>            
          </div>
        </div>

        <span *ngIf="detail.description" class="desc" [innerHTML]="detail.description"></span>
      </div>

      <!-- md-checkbox (click)="toggleAll()"  [(ngModel)]="isAllSelected" style="margin-left: 22px">Select All for Print</md-checkbox -->
      <p></p>
      <md-content style="height: 200px; overflow-y: auto">
          <md-card *ngFor="let topic of topics">
            <md-card-header>
              <!-- div md-card-avatar> 
                <md-checkbox id="{{topic.SNo}}"  [(ngModel)]="topic.selected" (change)="optionToggled()"></md-checkbox>
              </div-->
              <md-card-title><b>{{topic.SNo}}</b></md-card-title>
              <md-card-subtitle>{{topic.topic}}</md-card-subtitle>
            </md-card-header>
            <!-- <img md-card-image src="https://s3-ap-southeast-1.amazonaws.com/mce-showroom-content/Resources/moe000ett17300008/images/SBL_01_0001_0_0_EX_1.png" alt="Photo of a Shiba Inu"> -->
            <md-card-content>
              <div fxLayout='row wrap' >
                <div *ngIf="topic.mcesynopsis" fxFlex="100" fxFlex.lt-sm="100%">
                  <p>
                    <b>MCE Synopsis</b>
                  </p>
                  <span [innerHTML]="topic.mcesynopsis"></span>
                </div>
                <div fxFlex="5" fxFlex.lt-sm="100%">
                </div>
                <div *ngIf="topic.itqsynopsis" fxFlex="25" fxFlex.lt-sm="100%">
                  <p>
                    <b>ITQ Synopsis</b>
                  </p>
                  <span [innerHTML]="topic.itqsynopsis"></span>
                </div>
              </div>
              <div fxLayout='row'>
                <div fxFlex="40" fxFlex.lt-sm="100%">
                  <p class="subtitle"><span [innerHTML]="topic.addinfo"></span></p>
                </div>
              </div>
              <div fxLayout='row wrap'>
                <div fxFlex="33.3" fxFlex.lt-sm="100%">
                  <span [innerHTML]="topic.itqsynopsis"></span>
                </div>
                <div fxFlex="33.3" fxFlex.lt-sm="100%">
                </div>
              </div>
              <div fxLayout='row wrap' fxLayoutGap="15px">
                <div fxFlex="30" fxFlex.lt-sm="100%" *ngFor="let image of topic.thumbnails">
                  <!-- <a (click)="viewImage(image)"> -->
                  <img class="img" src="{{image}}" alt="Thumbnail of content"/>
                  <!-- </a> -->
                </div>
              </div>
            </md-card-content>
            <md-card-actions>
              <!-- <button md-button color="primary" (click)="launch(detail.folder+'/'+topic.resID+'/'+topic.startfile)">LAUNCH</button> -->
              <div fxFlex></div>
              <a md-raised-button *ngIf="topic.downloadfile" color="warn" href="{{getDownloadURL(detail.folder, topic.downloadfile)}}">DOWNLOAD</a>
              <button md-raised-button *ngIf="topic.startfile" color="warn" (click)="launchPage(detail.folder+'/'+topic.resID+'/'+topic.startfile)">LAUNCH</button>
              <!-- <button md-raised-button color="warn" (click)="openDialog(detail.folder+'/'+topic.resID+'/'+topic.startfile, topic.topic)">LAUNCH</button> -->
            </md-card-actions>
          </md-card>
      </md-content>
        <!-- <thead>
          <tr>
            <th style="width: 1%"><input type="checkbox" (click)="toggleAll()"  [(ngModel)]="isAllSelected" tabindex="0"/></th>
            <th style="width: 3%">S/No</th>
            <th style="width: 15%">ITQ Topic</th>
            <th style="width: 30%">ITQ Synopsis</th>
            <th style="width: 30%">MCE Synopsis</th>
            <th style="width: 15%">Additional Information</th>
            <th style="width: 6%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topics">
            <td><input type="checkbox" id="{{topic.SNo}}" [(ngModel)]="topic.selected" (change)="optionToggled()" tabindex="0"/></td>
            <td>{{topic.SNo}}</td>
            <td>{{topic.topic}}</td>
            <td><span [innerHTML]="topic.itqsynopsis"></span></td>
            <td><span [innerHTML]="topic.mcesynopsis"></span></td>
            <td><span [innerHTML]="topic.addinfo"></span></td>
            <td>
              <button class="btn btn-info btn-select btn-sm" (click)="launch(detail.folder+'/'+topic.resID+'/'+topic.startfile)">LAUNCH</button>
            </td>
          </tr>
        </tbody> -->
  </div>


</md-card>
