<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<md-card class="example-card" *ngIf="!isLoading">
  <div class="card-block">
    <md-list>
      <h3 md-subheader>ITT / ITQ List</h3>
      <md-list-item *ngFor="let itq of itqs">
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line>{{itq.name}} - {{itq.description}}</h4>
        <button md-raised-button color="warn" routerLink="/itq/{{encodeURIComponent(itq._id)}}">SELECT</button>
        <!-- <p md-line> {{folder.updated | date}} </p> -->
      </md-list-item>
      <!-- <md-divider></md-divider>
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes">
        <md-icon md-list-icon>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line> {{note.updated | date}} </p>
      </md-list-item> -->
    </md-list>
  </div>
</md-card>
