<md-card>
  <!-- <md-card-title>For Technical Support, please contact:</md-card-title> -->
  <h4>For Technical Support, please contact:</h4>
  <md-card-content>
    <ul class="tech-support-list">
        <li>Chiong Kok Fei (chiongkokfei@mceducation) 6213 9595</li>
        <li>Ngoi Kian Peng (kpngoi@mceducation.com)&nbsp;&nbsp;6213 9459</li>
    </ul>    
  </md-card-content>
</md-card>
