<app-toast [message]="toast.message"></app-toast>

<md-card>
  <h4 class="card-header">Login</h4>
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="example-form">
      <div [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus> -->
        <md-input-container class="example-full-width">
          <input mdInput type="email" name="email" placeholder="User ID" formControlName="email">
          <!-- <input mdInput type="email" name="email" placeholder="Email" formControlName="email"> -->
        </md-input-container>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <md-input-container class="example-full-width">
          <input mdInput type="password" name="password" placeholder="Password" formControlName="password">
        </md-input-container>
        <!-- <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password"> -->
      </div>
      <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" ><i class="fa fa-sign-in"></i> Login</button>
    </form>
  </div>
</md-card>
